cache/
.*/
!.github/
.env
config.json
!.husky/

docker/data
!docker/.env

.DS_Store
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dumps/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak

# pm2 ecosystem file
ecosystem.config.json
